name: Trigger Workflow on Discussion

on:
  discussion:
    types:
      - created

jobs:
  triage:
    if: >-
      github.event.discussion.category.name == 'General'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Extract discussion details
        id: extract-discussion-details
        run: |
          echo "body=$(echo '${{ toJson(github.event) }}' | jq -r '.discussion.body')" >> $GITHUB_ENV
          echo "title=$(echo '${{ toJson(github.event) }}' | jq -r '.discussion.title')" >> $GITHUB_ENV

      - name: Debug ChatGPT Response (Before Formatting)
        run: |
          echo "ChatGPT Response (Before Formatting):"
          echo "${{ steps.chatgpt.outputs.body }}"

      - name: Use Custom Action to Format and Post ChatGPT Response
        id: format-and-post
        uses: kiran-godse/formattingchatgptresponse@v1
        with:
          response: ${{ steps.chatgpt.outputs.body }}
          repository-id: R_kgDOKFks3w
          category-id: DIC_kwDOKFks384CYgtw

      - name: Debug ChatGPT Response (After Formatting)
        run: |
          echo "ChatGPT Response (After Formatting):"
          echo "${{ steps.format-and-post.outputs.discussion-url }}"
