name: Trigger Workflow on Discussion

on:
  discussion:
    types:
      - created

jobs:
  triage:
    if: >-
      github.event.discussion.category.name == 'General'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Extract discussion details
        id: extract-discussion-details
        run: |
          echo "body=$(echo '${{ toJson(github.event) }}' | jq -r '.discussion.body')" >> $GITHUB_ENV
          echo "title=$(echo '${{ toJson(github.event) }}' | jq -r '.discussion.title')" >> $GITHUB_ENV

      - name: Use local action to interact with ChatGPT API
        id: chatgpt
        uses: ./actions/discussion-workflow
        with:
          api_key: ${{ secrets.API_KEY }}
          prompt: ${{ env.body }}

      - name: Format ChatGPT Response as Markdown
        id: format-response
        run: |
          chatgpt_response="${{ steps.chatgpt.outputs.body }}"
          
          # Modify this section to format the ChatGPT response as Markdown
          formatted_response="**ChatGPT Response:**\n\n${chatgpt_response}"
          
          echo "::set-output name=formatted_response::$formatted_response"

      - name: Create a new GitHub Discussion
        id: create-discussion
        uses: abirismyname/create-discussion@v1.1.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: ${{ steps.extract-discussion-details.outputs.title }}
          body: ${{ steps.format-response.outputs.formatted_response }}
          repository-id: "R_kgDOKFks3w"
          category-id: DIC_kwDOKFks384CYgtw

      - name: Print discussion url and id
        run: |
          echo discussion-id: ${{steps.create-discussion.outputs.discussion-id}} 
          echo discussion-url: ${{steps.create-discussion.outputs.discussion-url}}
